export QT_QPA_PLATFORMTHEME=qt5ct

# nm-applet to appear as a tray icon
nm-applet &

# Automount volumes
udiskie &

# Restore wallpaper
nitrogen --restore &

# Starting a picom - compositor for Xorg
picom -b &

# Screen locker
xset s 1200 # set timeout for screen locker to 20 min
xss-lock -- slock &

# PulseAudio System Tray
pasystray --notify=none &

# EWW
#eww daemon || ~/.local/bin/eww daemon &

# Battery tray icon
cbatticon &

# Notifications service
dunst &

# Blueman
blueman-applet &
