[core]
        autocrlf = input
[pull]
        rebase = true
[alias]
        lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
        common-ancestor = !git merge-base `git symbolic-ref --short HEAD` master
[push]
        autoSetupRemote = true
