$bg-color: #3b4252;
$bg-color-light: #81a1c1;
$fg-color: #d8dee9;
$fg-color-darker: #afb7c5;
$fg-color-dark: #8b94a4;
$fg-color-darkest: #545c6b;
$fg-color-alt: #8fbcbb;
$fg-color-blue: #88c0d0;

* {
  all: unset;
}

.main {
  background-color: $bg-color;
  font-family: Iosevka, NotoSansMono Nerd Font, Noto Serif CJK JP, serif;
  font-size: 15px;
  color: $fg-color;
  padding: 10px;
}

@keyframes blink {
  to {
    color: rgba(0, 0, 0, 0,);
  }
}

.blink {
  animation-name: blink;
  animation-duration: 500ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.header {
  margin-bottom: 15px;

  button {
    margin: 10px;
    color: $fg-color-alt;

    &:hover {
      color: $fg-color;
    }
  }
}

// Location

.location {
  font-size: 16px;
  margin-top: 5px;
  margin-left: 12px;

  &-label {
    color: $fg-color-alt;
  }

  &-city {
    color: $fg-color-darker;
  }
}

// Weather current

.weather-current {

  margin-top: 10px;

  .weather-icon {
    font-size: 40px;
  }

  .weather-temp {
    font-size: 36px;
  }

  &-item {
    margin: 0 8px;
  }

  &-text {
    margin-top: 7px;
    font-size: 12px;
    color: $fg-color-darker;

    .weather-desc {
      margin-right: 10px;
    }

    .weather-ftemp {
      margin-left: 10px;
    }
  }

}

.misc {
  margin-top: 40px;

  &-container {
    margin: 5px 2px;
    font-size: 16px;

  }

  &-label {
    font-weight: bold;
    margin-right: 7px;
  }

  &-value {
    margin-left: 7px;
  }
}

.weather-forecast {
  margin: 40px 0;

  &-title {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: bold;
    color: $fg-color-alt;
  }

  &-item {
    margin: 0 12px;
    font-size: 17px;
  }

  &-time {
    color: $fg-color-darker;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 7px;
  }

  &-icon {
    font-size: 22px;
    margin-right: 10px;

    + box {
      color: $fg-color-alt;
    }
  }
}

.music-info {
  font-size: 20px;

  &-artist {
    font-weight: bold;
    font-size: 25px;
  }

  &-song {
    padding: 10px;
  }

  &-album {
    padding: 10px;
    font-size: 15px;
    font-style: italic;
    color: $fg-color-dark;
  }
}

.music-controls {
  font-size: 30px;

  button {
    padding: 0 10px;

    &:hover {
      color: $fg-color-alt;
    }
  }

}

.datetime {
  margin: 40px 0;

  .time {
    font-size: 55px;

    .hour {
      font-weight: bold;
    }
  }

  .date {
    font-size: 21px;

    .weekday {
      font-weight: bold
    }
  }
}

.cal {
  padding: 20px;

  calendar {
    padding: 8px;
    color: $fg-color;
    font-size: 17px;
    font-style: normal;

    &:selected {
      border-radius: 3px;
      color: $fg-color-darkest;
      background-color: $fg-color-alt;
    }

    &.header {
      color: $fg-color-darker;
    }

    &.button {
      color: $fg-color-blue;
    }

    &.highlight { // weekday names
      color: $fg-color-blue;
      font-weight: bold;
    }

    &:indeterminate { // other months' weekday cells
      color: $fg-color-darkest;
    }
  }
}
